// Custom variables
$primary: #78ff4f;
$secondary: #ad21ff;
$dark: black;
$light: #fbf5e5;
$info: red;

// import the functions and variables

@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";

$custom-theme-colors: (
  "altlight": #f2ebfa,
  "altdark": #5600c7,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);
// Import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";
